* body {
  padding: 0;
  box-sizing: border-box;
  background-image: url(./imagenes/confetti-5.gif);
  background-size: 100%;

}

/*PORTADA*/


.titulo_primero {
  text-align: center;
  position: relative;
  margin: 50px 0px;
margin-top: 5%;
  color: rgb(248, 248, 248);
  font-size: 20px;
  font-family: 'PT Serif', serif;
 
}


.primer_span {
  color: #baa00f;
  font-size: 110%;
}

.container {
  width: 85%;
  max-width: 1000px;
  min-width: 320px;
  margin: auto;

}

img {
  width: 100%;
  margin-right: 50px;
  box-shadow: 0px 3px 5px rgba(rgb(218, 208, 208), rgb(38, 39, 38), brgb(65, 65, 66) alpha);
}

/*CUENTA REGRESIVA*/

.container {
  width: 100%;
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: -10%;
}

.countdown {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  flex-wrap: wrap;
}

.countdown span {
  color: #ffffff
}

.countdown div {
  display: grid;
  place-items: center;
  padding: 10px;
}

.reloj {
  display: grid;
  place-items: center;
  border: solid 1px rgb(238, 238, 205);
  height: 100px;
  width: 100px;
  border-radius: 10%;
  color: rgb(114, 114, 114);
  font-size: 3rem;
  font-weight: bold;
  background-color: #effcc6;
}

.final-sms {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: grid;
  place-items: center;
  transform: translateY(-100%);
  transition: ease-in-out 0.5s;
  background-color: rgb(112, 111, 111);
}

.final-sms h2 {
  text-align: center;
  font-size: 100px;
  color: rgb(252, 212, 10);
}

@media (max-width: 730px) {
  .reloj {
    float: left;
    height: 40px;
    width: 40px;
    border-radius: 10%;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: bold;
    background-color: #ffffff28;
  }

  .countdown {
    margin-top: -25%;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;
  }

  .espero {
    text-align: center;
    position: relative;
    margin: 50px 0px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-family: 'Patrick Hand', cursive;
  }
  .img-fluid{
    margin-top: 10%;
  }
  .preparate {
    text-align: center;
    position: relative;
    margin: 50px 0px;
    color: rgb(239, 239, 239);
    font-size: 20px;
    font-family: 'PT Serif', serif;
    background-color: #ffffff76;

  }
  
}





/*SECCION*/
.info{
  margin-top: -10%;
  
}


.info h4 {
  text-align: center;
  color: #ffffff;
  font-size: 20px;
  font-family: 'PT Serif', serif;
  background-color: #9c9c9ca0;

}

.info p {
  text-align: center;
  color: #ffffff;
  background-color: #2e2d2d9c;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;

}

.info2{
  margin-top: 12%;
  font-size: 20%;
}

.info img {
  margin-top: 5%;
  width: 25%;
  margin-left: 40%;

}

.parrafo {
  margin: 15px;
}
.img-fluid{
  margin-top: -30%;
}

.click {
  padding: 2px 10px;
  font-size: 19px;
  font-weight: 1200;
  border: none;
  color: rgb(238, 251, 254);
  background-color: #4a517697;
  border-radius: 4px;
  box-shadow: 1px 1px 30px -5px rgb(252, 251, 253);
  cursor: pointer;
  margin-left: 34%;
}

.copas{
  width: 20%;
  margin-top: -20%;
  margin-left: 42%;
}









@media (max-width: 730px) {

  

  .box__copyright {
    max-width: 1200px;
    padding: 0px 40px;
    text-align: center;
  }

  .box__copyright p {
    margin-top: 20px;
    color: #9c9b9b;
    font-size: 10px;
    text-align: center;
  }

  .box__copyright a {
    text-decoration: none;
    color: #9c9b9b;
  }
.info h4{
  margin-top: 10%;
}
}

@media (min-width: 1024px) {

  .titulo_primero {
    text-align: center;
    position: relative;
    margin: 50px 0px;

    color: rgb(131, 130, 130);
    font-size: 30px;
    border-radius: 1px;
    font-family: 'Rochester', cursive;
  }


  .primer_span {
    color: #D8ADB3;
    font-size: 110%;
  }



  img {
    width: 100%;
    margin-right: 50px;
    box-shadow: 0px 3px 5px rgba(rgb(218, 208, 208), rgb(38, 39, 38), brgb(65, 65, 66) alpha);
  }

  /*CUENTA REGRESIVA*/

  .container {
    width: 100%;
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10%;
  }

  .countdown {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    flex-wrap: wrap;
  }

  .countdown span {
    color: #cfa7ac
  }

  .countdown div {
    display: grid;
    place-items: center;
    padding: 10px;
  }

  .reloj {
    display: grid;
    place-items: center;
    border: solid 1px rgb(238, 238, 205);
    height: 100px;
    width: 100px;
    border-radius: 50%;
    color: rgb(114, 114, 114);
    font-size: 3rem;
    font-weight: bold;
    background-color: #effcc6;
  }

  .final-sms {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: grid;
    place-items: center;
    transform: translateY(-100%);
    transition: ease-in-out 0.5s;
    background-color: rgb(112, 111, 111);
  }

  .final-sms h2 {
    text-align: center;
    font-size: 100px;
    color: rgb(251, 238, 171);
  }


  .info h4 {

    text-align: center;
    color: #6a6a6a;
    font-size: 30px;
    font-family: 'Sofia Sans Extra Condensed', sans-serif;

  }

  .info p {
    text-align: center;
    color: #686868;
    font-size: 22px;
    font-family: 'Tahoma', sans-serif;

  }

  

  .parrafo {
    margin: 15px;
  }

  .click {
    padding: 2px 10px;
    margin-top: -20px;
    font-size: 18px;
    font-weight: 1200;
    border: none;
    color: rgb(64, 63, 63);
    background-color: #D8ADB3;
    border-radius: 7px;
    box-shadow: 1px 1px 30px -5px rgb(228, 207, 248);
    cursor: pointer;
    margin-left: 44%;
  }

  .tecla {
    text-decoration: none;
    font-size: 28px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: #fcfcfc;
    color: #f1f1f1;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    transition: all .4s ease-in-out;
  }

  @media (min-width: 1024px){ 
  
  

    .tecla {
      text-decoration: none;
      font-size: 28px;
      width: 60px;
      height: 60px;
      line-height: 60px;
      text-align: center;
      background: #fcfcfc;
      color: #f1f1f1;
      border-radius: 50%;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
      transition: all .4s ease-in-out;
    }
    
    .box__copyright {
      max-width: 1200px;
      padding: 0px 40px;
      text-align: center;
    }
  
    .box__copyright p {
      margin-top: 20px;
      color: #9c9b9b;
      font-size: 10px;
      text-align: center;
    }
  
    .box__copyright a {
      text-decoration: none;
      color: #9c9b9b;
    }
    
     }
     
    

  .espero {
    text-align: center;
    position: relative;
    margin: 50px 0px;
    color: rgb(131, 130, 130);
    font-size: 28px;
    font-family: 'Patrick Hand', cursive;
  }
}